.footer {
    background: rgb(246, 246, 246);
    width: 100%;
    padding: 1em 0 1em 0;

    .footer__container {
        color: var(--dark);
        display: flex;
        align-items: center;
        justify-content: center;

        .footer-txt {
            font-size: .75rem;
        }
    }
}