.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(90%, 1200px);
    margin: 0 auto;
    min-height: 100vh;
}

form {
    background: #fff;
    padding: 2em;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}



input, select, textarea, .form-cta {
    width: 100%;
    padding: 0.7em;
    margin-top: 0.3em;
    border-radius: 5px;
    border: 1px solid #ccc;
}
